body {
	padding-top: 6rem;
	padding-left: 15rem;
	padding-right: 1rem;
	margin: 0; 
	background-color: #B2DBBF;
	color:black;
	text-align: center;
	list-style-position: inside;
}

#login{
	text-align: center;
	padding: 0px;
	padding-top: 1rem;
}

header {
	z-index: 1000;
	top: 0px;
	left: 0px;
	position: absolute;
	padding: 1rem;
	padding-left: 2rem;
	width: 100%;
	background: #30123A;
	display: block;
	height: 2rem;
	font-size: 29px;
	color: white;
	text-align: left;
}

h2:hover {
	background: #8A8A8A;
}

li:hover {
	background: #8A8A8A;
}

#side-menu {
	left: 0px;
	position: absolute;
	height: 100%;
	width: 10rem;
	top: 4rem;
	background: #6D6E65;
	display: block;
	color: white;
	padding: 1rem;
	padding-left: 2rem;
	font-size: 20px;
	text-align: left;
}

#side-menu > p:hover {
	background: #8A8A8A;
}

.project {
	background: #6D6E65;
	height: 3rem;
	padding: 1rem;
	text-align: left;
}
.project > h1{
	font-size: 2.5em;
	position: absolute;
}
.project > h1:hover {
	background: #8A8A8A;
}
.project > div{
	text-align: right;
}

#profile {
	color: white;
	z-index: 2000;
	position: absolute;
	height: 8rem;
	width: 8rem;
	top: 1rem;
	right: 3rem;
	background: #247BA0;
}

.task{
	background: #cfcfcf;
}

.column {
  float: left;
  width: 22%;
  background: #afafaf;
  border-style: solid;
  border-color: white;
  padding: 5px;
}

.task > h3 {
	color: #4f4f4f;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#taskBlock{
	display: none;
	  border-style: solid;
  border-color: white;
	background: #afafaf;
	padding: 2rem;
	position: absolute;
	top: 9.5rem;
	left: 30%;
	width: 650px;
	height: 385px;
	text-align: left;
}

#right{
	right: 2rem;
	top: 5rem;
	position: absolute;
	text-align: right;
}